@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.score-div {
  display: none;
  position: absolute;
  right: 30px;
  top: 120px;
}

.main {
  min-height: 100vh;
  background-color: #141313;
  padding: 10px;
  color: white;
}

.main img {
  display: none;
}

.start {
  display: inline-block;
  padding: 5px 7px;
  background-color: #198754;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.start.disabled {
  background-color: #f0f0f0;
  color: black;
  cursor: default;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  margin-top: 10px;
  background-color: #f8efef;
}

@media screen and (max-width: 760px) {
  #canvas {
    width: 90vw;
  }
}
